 @font-face {
        font-family: "sniglet"; /* Choose a name for your font */
        src: url("fonts/Sniglet Regular.otf") format("otf"), /* Path to your font file */
             url("fonts/Sniglet Regular.ttf") format("ttf"),
             url("fonts/Sniglet-webfont.woff") format("woff"); /* Include other formats for broader browser support */
        font-weight: normal; /* Define font weight if applicable */
        font-style: normal;  /* Define font style if applicable */
    }


h1 {
  text-align: center;
  font-family: "sniglet", "Cherry Bomb One", system-ui;
  color: transparent;
  font-weight: 400;
  font-style: bold;
  font-size: 15vw;
  background: rgba(255, 255, 3, 1); 
  background-clip: text; 
  -webkit-text-stroke-width: 8px;
  -webkit-text-stroke-color:   rgba(57, 40, 117, 1);
  text-shadow:  rgba(255, 255, 3, 1) 10px 10px 10px;

} 

h1:hover{
   color:  white;
     text-shadow: white 10px 10px 10px;
  }

body {
  background: linear-gradient( rgba(77, 109, 240, 1));
}

.buttons {
  display: flex;
  justify-content: space-around;
  opacity: 0;
}

button {
  background: radial-gradient(ellipse at center in hsl shorter hue, 
  rgba(255, 3, 125, 1) 5%, rgba(255, 123, 187, 1) 10%,  rgba(255, 3, 125, 1) 20%, 
  rgba(255, 123, 187, 1) 30%,  rgba(255, 3, 125, 1) 30%,  
  rgba(255, 123, 187, 1) 40%,  rgba(255, 3, 125, 1) 55%, rgba(255, 123, 187, 1) 55%,
   rgba(255, 3, 125, 1) 60%,rgba(255, 123, 187, 1) 65%,  rgba(255, 3, 125, 1) 80%,
  rgba(255, 123, 187, 1) 100%);
  border: dotted rgba(255, 255, 3, 1) 1vw; 
  border-radius: 40%;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;    /* Vertically center */
  text-align:center;
  opacity: 100%;
  height: 4vw;
  width: 20vw;
  padding: 3vw; 
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vw;
  color:  rgba(57, 40, 117, 1);
  text-shadow: rgba(241, 244, 157, 1) 1px 1px 5px;
  box-shadow: 6px 6px 10px  rgba(57, 40, 117, 1),
    -5px -5px 10px   rgba(57, 40, 117, 1);
}

button:hover {
  background: white;
  color:  rgba(57, 40, 117, 1); 
  opacity: 100%;
  border: double 1vw   rgba(57, 40, 117, 1);
  cursor: pointer;
  text-shadow:  rgba(57, 40, 117, 1) 0px 0px 0px;


}